body {
    font-family: sans-serif;
    background: #e0f7fa;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#setup, #game-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #006064;
    color: #fff;
}

#last-numbers {
    font-size: 1.5em;
    color: #aaa;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#qr-canvas {
    margin-top: 20px;
}

.ball {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f3f3f3;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#current-number {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #f3f3f3;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}